<a href="https://colab.research.google.com/github/eduardocarbo/gh-react/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##ANALÍTICA Y DEPURACIÓN DE DATOS

#PANDAS

**Pandas** es una librería que típicamente se utiliza para manipular datasets, generalmente vienen en formato csv (valores separados por comas). También se puede usar para vizualizar datos.

Se basa en dos paquetes esenciales de Python, NumPy y Matplotlib.

 **Numpy** proporciona objetos de matriz multidimensional para una fácil manipulación de datos **Matploylib** tiene poderosas capacidades de visualización de datos.

 **Marco de datos en pandas** Se llaman DataFrames, los cuales son el núcleo de pandas.

 A menudo trabajará con toneladas de datos. La forma de los datos puede variar, pero reducirlos a una estructura tabular , como en una hoja de cálculo.

 **Explorando un dataframe**

 **.head()**: Devuelve las primeras filas del dataframe. Con este método puede
  ver explorar y ver rápidamente el contebido.

 **.info()**: muestra información sobre cada una de las columnas, como el tipo de datos y la cantidad de valores faltantes.

**.shape():** Es un atributo, no un método (se escribe sin paréntesis). Muestra el número de filas y el número de columnas del dataframe.

**.describe():** Este método calcula algunas estadísticas de resumen para columnas numéricas como la media y la mediana. "count" es el número de valores que no faltan(non-missing values) en cada columna.

**Ejercicio 1:** Netflix es una de las paltaformas de transmisión de video y medios más populares. Tienen más de 8.000 películas o programas de televisión disponibles en su plataforma, a mediados de 20221, tiene más de 200 millones de suscriptores en tod el mundo. Este conjunto de datos tabulares consta de listados de todas las películas  y programas de televisión diponibles en Netflix, junto con detalles como: elenco, directores, año de estreno, duración, etc.

vaya a la dirección : http://www.kaggles.com/datasetes/shivamb/netflix-shows

y descargue el dataset.

**Ejercicio 2:** Abra o descomprima las carpeta archive.ziip, y copie el archivo  netflix_titles.csv en la carpeta de su preferencia

**Ejercicio 3:** Cargue la data en Colab , seleccionando el archivo netflix_titles.csv

In [1]:
from google.colab import files
uploaded = files.upload()

Saving netflix_titles.csv to netflix_titles.csv

**Ejercicio 4:** (i) importe la libreria pandas con el alias pd. Nombre com df al dataset, use la función read_csv del paquete pandas. (ii) Explore el dataframe usnado el método . head()

In [11]:
import pandas as pd
df = pd.read_csv("netflix_titles.csv")
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

**Ejercicio 5:**Imprima información sobre los tipos de columnas y valores faltantes del df

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

**Ejemplo 6:** Imprima el número de filas y columnas del df.¿Cuantas filas y cuántas columnas tiene el df?

In [17]:
df.shape

(8807, 12)

**Ejercicio 7:**Imprima algunas estadísticas de resumen que describe al df.¿Porqué en este caso las estadísticas no tienen mucho sentido?

In [19]:
df.describe()
#No tienen mucho sentido devido a que una media para un año de lanzamiento no tiene sentido. Es importante tenerr encuenta el tip ode data set se tiene.

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

**Ejercicio 8:** Imprime una array 2D Numpy de los valores de homelessness. Imprime los nombres de las columnas dle df imprime el indice dle df.

In [22]:
df.values

array([['s1', 'Movie', 'Dick Johnson Is Dead', ..., '90 min',
        'Documentaries',
        'As her father nears the end of his life, filmmaker Kirsten Johnson stages his death in inventive and comical ways to help them both face the inevitable.'],
       ['s2', 'TV Show', 'Blood & Water', ..., '2 Seasons',
        'International TV Shows, TV Dramas, TV Mysteries',
        'After crossing paths at a party, a Cape Town teen sets out to prove whether a private-school swimming star is her sister who was abducted at birth.'],
       ['s3', 'TV Show', 'Ganglands', ..., '1 Season',
        'Crime TV Shows, International TV Shows, TV Action & Adventure',
        'To protect his family from a powerful drug lord, skilled thief Mehdi and his expert team of robbers are pulled into a violent and deadly turf war.'],
       ...,
       ['s8805', 'Movie', 'Zombieland', ..., '88 min',
        'Comedies, Horror Movies',
        'Looking to survive in a world taken over by zombies, a dorky college student teams with an urban roughneck and a pair of grifter sisters.'],
       ['s8806', 'Movie', 'Zoom', ..., '88 min',
        'Children & Family Movies, Comedies',
        'Dragged from civilian life, a former superhero must train a new crop of youthful saviors when the military preps for an attack by a familiar villain.'],
       ['s8807', 'Movie', 'Zubaan', ..., '111 min',
        'Dramas, International Movies, Music & Musicals',
        "A scrappy but poor boy worms his way into a tycoon's dysfunctional family, while facing his fear of music and the truth about his past."]],
      dtype=object)

**Ordenar y dividir el dataframe:** Puede ordenar filas usando el método **sort_values**, pasando un onmbre de columna por el que desea ordenar. Establecer el argumento  ascendente en False ordenará los datos al revés.

**Subconjuntos de columnas:** Puede seleccionar una columna del df, usando el nombre del Dataframe, seguido de corchetes([]) con un nombre de columna dentro. Para seleccionar varias columnas, necsita dos pares de corchetes (df[["col_a","col_b"]]). en este código, los corchetes internos y externos realizan diferentes tareas. Los corchetes exteriores son responsables de dividir el Dataframe en sibconjuntos, y lso corchetes internos crean una lista de nobmres de columnas apra dividir en subconjuntos.


**Subconjunto de filas:** A veces se conoce como filtrado de filas o selección de filas. La formar más común de hacer esto es creando una condición lógica para filtrar. Se obtiene un valor Verdadero o Falso para cada fila. Podemos usar la condición lógica dentro de los corchetes para crear un subconjunto de las filas que nos interesan.

**Subconjunto basados en texto:** podemos crear subconjuntos de fials en función de los datos de texto. Aquí, usamos el doble signo igual en la condición lógica para filtrar.

**Subconjuntos basados en fechas:** podemos crear subconjuntos basados en fechas, usando el formato de fecha estándar internacional.

**.isin()**: para fitrar varios valores de una variable categórica.

**Ejercicio 9:** Ordene el df por el año de lanzamiento del más antiguo al más reciente

¿Cuál es la serie más antigua, que figura en el dataset, disponible en Netflix?¿De qué año es?

¿Cuál es la película reciente, que figura en el dataset, disponible en Netflix?¿De que año es?

In [30]:
df.sort_values("release_year")
#La serie más antigua es del año 1925

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4250,s4251,TV Show,Pioneers: First Women Filmmakers*,NaN,NaN,NaN,"December 30, 2018",1925,TV-14,1 Season,TV Shows,This collection restores films from women who ...
7790,s7791,Movie,Prelude to War,Frank Capra,NaN,United States,"March 31, 2017",1942,TV-14,52 min,"Classic Movies, Documentaries",Frank Capra's documentary chronicles the rise ...
8205,s8206,Movie,The Battle of Midway,John Ford,"Henry Fonda, Jane Darwell",United States,"March 31, 2017",1942,TV-14,18 min,"Classic Movies, Documentaries",Director John Ford captures combat footage of ...
8660,s8661,Movie,Undercover: How to Operate Behind Enemy Lines,John Ford,NaN,United States,"March 31, 2017",1943,TV-PG,61 min,"Classic Movies, Documentaries",This World War II-era training film dramatizes...
8739,s8740,Movie,Why We Fight: The Battle of Russia,"Frank Capra, Anatole Litvak",NaN,United States,"March 31, 2017",1943,TV-PG,82 min,Documentaries,This installment of Frank Capra's acclaimed do...
...,...,...,...,...,...,...,...,...,...,...,...,...
862,s863,TV Show,Special,NaN,"Ryan O'Connell, Jessica Hecht, Punam Patel, Ma...",United States,"May 20, 2021",2021,TV-MA,2 Seasons,TV Comedies,A young gay man with cerebral palsy branches o...
861,s862,Movie,Little Singham Future mein Satakli,Prakash Satam,"Anamaya Verma, Ganesh Divekar, Jigna Bharadhwa...",NaN,"May 20, 2021",2021,TV-Y7,47 min,"Children & Family Movies, Comedies",Little Singham and his crew travel to the year...
857,s858,TV Show,The Neighbor,NaN,"Quim Gutiérrez, Clara Lago, Adrián Pino, Catel...",Spain,"May 21, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Spanish-Language TV Sh...",Self-centered Javier's life gets a bit messy w...
876,s877,TV Show,Alma Matters,NaN,NaN,India,"May 14, 2021",2021,TV-MA,1 Season,"Docuseries, International TV Shows",Alumni of India’s elite academic institutes sh...
965,s966,TV Show,Yasuke,NaN,"LaKeith Stanfield, Takehiro Hira, Maya Tanida,...",NaN,"April 29, 2021",2021,TV-MA,1 Season,"Anime Series, International TV Shows",A peaceful boatman once known as the Black Sam...

In [36]:
df.sort_values("release_year",ascending = False)
#La palicula más reciente es la del 2021

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
693,s694,Movie,Ali & Ratu Ratu Queens,Lucky Kuswandi,"Iqbaal Ramadhan, Nirina Zubir, Asri Welas, Tik...",NaN,"June 17, 2021",2021,TV-14,101 min,"Comedies, Dramas, International Movies","After his father's passing, a teenager sets ou..."
781,s782,Movie,Black Holes | The Edge of All We Know,Peter Galison,NaN,NaN,"June 2, 2021",2021,TV-14,99 min,Documentaries,Follow scientists on their quest to understand...
762,s763,Movie,Sweet & Sour,Lee Kae-byeok,"Jang Ki-yong, Chae Soo-bin, Jung Soo-jung",South Korea,"June 4, 2021",2021,TV-14,103 min,"Comedies, International Movies, Romantic Movies",Faced with real-world opportunities and challe...
763,s764,TV Show,Sweet Tooth,NaN,"Nonso Anozie, Christian Convery, Adeel Akhtar,...",United States,"June 4, 2021",2021,TV-14,1 Season,"TV Action & Adventure, TV Dramas, TV Sci-Fi & ...",On a perilous adventure across a post-apocalyp...
764,s765,Movie,Trippin' with the Kandasamys,Jayan Moodley,"Jailoshini Naidoo, Maeshni Naicker, Madhushan ...",South Africa,"June 4, 2021",2021,TV-14,94 min,"Comedies, International Movies, Romantic Movies","To rekindle their marriages, best friends-turn..."
...,...,...,...,...,...,...,...,...,...,...,...,...
8660,s8661,Movie,Undercover: How to Operate Behind Enemy Lines,John Ford,NaN,United States,"March 31, 2017",1943,TV-PG,61 min,"Classic Movies, Documentaries",This World War II-era training film dramatizes...
8763,s8764,Movie,WWII: Report from the Aleutians,John Huston,NaN,United States,"March 31, 2017",1943,TV-PG,45 min,Documentaries,Filmmaker John Huston narrates this Oscar-nomi...
8205,s8206,Movie,The Battle of Midway,John Ford,"Henry Fonda, Jane Darwell",United States,"March 31, 2017",1942,TV-14,18 min,"Classic Movies, Documentaries",Director John Ford captures combat footage of ...
7790,s7791,Movie,Prelude to War,Frank Capra,NaN,United States,"March 31, 2017",1942,TV-14,52 min,"Classic Movies, Documentaries",Frank Capra's documentary chronicles the rise ...
4250,s4251,TV Show,Pioneers: First Women Filmmakers*,NaN,NaN,NaN,"December 30, 2018",1925,TV-14,1 Season,TV Shows,This collection restores films from women who ...

**Ejercicio 10:** Ordene el DataFrame por Director (en forma ascendente) y luego por añ ode lanzamiento (en forma descendente). Guardo este subconjunto como df_director_year

In [43]:
df_director_year = df.sort_values(["director","release_year"],ascending=[True,False])
df_director_year

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
3537,s3538,Movie,Watchman,A. L. Vijay,"G.V. Prakash Kumar, Samyuktha Hegde, Suman, Ra...",India,"September 4, 2019",2019,TV-14,93 min,"Comedies, Dramas, International Movies","Rushing to pay off a loan shark, a young man b..."
6078,s6079,Movie,Abhinetri,A. L. Vijay,"Tamannaah Bhatia, Prabhu Deva, Sonu Sood, Sapt...",India,"May 1, 2018",2016,TV-14,131 min,"Comedies, International Movies, Sci-Fi & Fantasy","Due to family pressure, a corporate man reluct..."
2389,s2390,Movie,Asura Guru,A. Raajdheep,"Vikram Prabhu, Subbaraju, Mahima Nambiar, Yogi...",India,"June 13, 2020",2020,TV-14,117 min,"Dramas, International Movies","For a tech-savvy thief, elaborate robberies an..."
5549,s5550,Movie,Salaakhen,A. Salaam,"Shashi Kapoor, Sulakshana Pandit, Mehmood, Sud...",India,"April 1, 2017",1975,TV-14,134 min,"Action & Adventure, International Movies, Musi...",Two close childhood friends take drastically d...
4049,s4050,Movie,Sarkar,A.R. Murugadoss,"Vijay, Varalakshmi Sarathkumar, Keerthi Suresh...",NaN,"March 2, 2019",2018,TV-MA,162 min,"Action & Adventure, Dramas, International Movies",A ruthless businessman’s mission to expose ele...
...,...,...,...,...,...,...,...,...,...,...,...,...
4550,s4551,TV Show,Monty Python's Fliegender Zirkus,NaN,"Graham Chapman, John Cleese, Eric Idle, Terry ...","United Kingdom, West Germany","October 2, 2018",1972,TV-MA,1 Season,"International TV Shows, TV Comedies",The Pythons elevate the absurd to new heights ...
8189,s8190,TV Show,The Andy Griffith Show,NaN,"Andy Griffith, Ron Howard, Don Knotts, Frances...",United States,"July 1, 2017",1967,TV-G,8 Seasons,"Classic & Cult TV, TV Comedies",Homespun humor and easygoing Sheriff Andy Tayl...
8541,s8542,TV Show,The Twilight Zone (Original Series),NaN,Rod Serling,United States,"July 1, 2017",1963,TV-14,4 Seasons,"Classic & Cult TV, TV Sci-Fi & Fantasy","Hosted by creator Rod Serling, this groundbrea..."
1331,s1332,TV Show,Five Came Back: The Reference Films,NaN,NaN,United States,"February 9, 2021",1945,TV-MA,1 Season,TV Shows,This collection includes 12 World War II-era p...
4250,s4251,TV Show,Pioneers: First Women Filmmakers*,NaN,NaN,NaN,"December 30, 2018",1925,TV-14,1 Season,TV Shows,This collection restores films from women who ...